<!doctype html>

<html lang="nl">
<head>
  <meta charset="utf-8">

  <title>Beoordelings Systeem</title>
  <meta name="theme-color" content="#ffffff" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Beoordelings Systeem">
  <meta name="author" content="P*ssy Squad">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="css/mobile.css">
  <link rel="icon" href="assets/favicon.png" type="image/png">

</head>

<body>

  <div class="wrapper">

    <div class="navButton hover">
      <img class="menuButton" src="assets/menublack.png" alt="Menu">
      <nav>
        <div class="navigationMenu">
          <br />
          <br />
          <hr />
          <a class="navItem" href="dashboard">Home</a><br />
          <a class="navItem" href="leerlingen">Mijn leerlingen</a><br />
          <a class="navItem" href="klassen">Mijn klassen</a><br />
        </div>
      </nav>
    </div>

    <header>
      <div class="headerContainer">
        <a class="marginAll headerText">Dashboard</a>
        <a class="marginAll" id="welcomeMessage"></a>
      </div>
    </header>

    <section>
      <div class="centerContainer">
        <div class="cardBig">
          <div class="studentCard">
              <div class="leftSide">
              <img class="studentAvatar" src="assets/r2.png"/>
            </div>
              <div class="rightSide">
                <a class="studentName">Bas</a>
                <a class="studentName">W.</a>
              </div>
            <a class="studentPoints">10</a>
          </div>

          <div class="studentCard">
            <div class="leftSide">
            <img class="studentAvatar" src="assets/r2.png"/>
          </div>
            <div class="rightSide">
              <a class="studentName">Bas</a>
              <a class="studentName">W.</a>
            </div>
            <a class="studentPoints">10</a>
          </div>

          <div class="studentCard">
            <div class="leftSide">
            <img class="studentAvatar" src="assets/r2.png"/>
          </div>
            <div class="rightSide">
              <a class="studentName">Bas</a>
              <a class="studentName">W.</a>
            </div>
            <a class="studentPoints">10</a>
          </div>

          <div class="studentCard">
            <div class="leftSide">
            <img class="studentAvatar" src="assets/r2.png"/>
          </div>
            <div class="rightSide">
              <a class="studentName">Bas</a>
              <a class="studentName">W.</a>
            </div>
            <a class="studentPoints">10</a>
          </div>

        </div>
      </div>
    </section>

    <footer>
      <div class="footer">
        <a class="text" >Gemaakt door P*ssy Squad</a>
      </div>
    </footer>
  </div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script src="js/home.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/students.js"></script>
</body>
</html>
