<!doctype html>

<html lang="nl">
<head>
  <meta charset="utf-8">

  <title>Beoordelings Systeem</title>
  <meta name="theme-color" content="#ffffff" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Beoordelings Systeem">
  <meta name="author" content="P*ssy Squad">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="css/dashMobile.css">
  <link rel="icon" href="assets/favicon.png" type="image/png">

</head>

<body>

  <div class="splashscreenDiv">
    <a class="loaderText">Beoordelingssysteem</a>
    <img class="pageLoader" src="assets/loader.svg" alt="Laden..">
    <img class="pageLoader" src="assets/pussy.png" alt="Laden..">
  </div>

  <div class="wrapper">
    <nav>
      <div class="navigationBar">

          <a id="backBtn" class="navCard">Ga terug...</a>
          <a id="classesBtn" class="navCard">Mijn klassen</a>
          <a id="studentsBtn" class="navCard">Mijn leerlingen</a>
          <a id="profileBtn" class="navCard">Mijn profiel</a>
          <a id="extraBtn" class="navCard">Extra</a>
          <a id="supportBtn" class="navCard">Ondersteuning</a>
          <a id="newClassBtn" class="navCard">Nieuwe klas</a>
          <a id="submitBtn" class="navCard">Verstuur vraag</a>
          <a id="createNewClassBtn" class="navCard">Maak aan</a>
          <a id="createNewStudentBtn" class="navCard">Maak aan</a>
          <a id="summaryBtn" class="navCard">Overzicht</a>
          <a id="addStudentBtn" class="navCard">Nieuwe student</a>


      </div>
    </nav>

    <header>
      <div class="headerContainer">
        <a class="marginAll headerText">Dashboard</a>
        <a class="marginAll" id="welcomeMessage"></a>
        <a class="marginAll" id="description">Wat wilt u doen?</a>
      </div>
    </header>

    <!-- Dit kaartje is om een profiel te laten zien-->
    <div class="profileCardDivSide">
      <img class="profileCardImage" src="assets/profile.jpg"/>
      <p class="cardText marginTop" id="teacherNameSide"></p>
    </div>



    <section>

      <div class="centerContainer">

        <!-- Dit is het popup venster -->
        <div class="popupDiv">
          <a class="cardText marginAll" id="popupText"></a>
          <a class="cardText button" id="closePopupBtn">Sluit</a>
        </div>

        <!-- Dit kaartje is om de nieuwe klassen aan te maken -->
        <div class="newClassDiv">
            <input class="textfield" placeholder="Klas naam" id="classNameField" type="text"/>
        </div>

        <!-- Dit kaartje is om een support ticket aan te maken -->
        <div class="supportDiv">

            <textarea class="textfield" placeholder="Uw vraag" id="ticketField" type="text"></textarea>
        </div>

        <!-- Dit kaartje is om de nieuwe studenten aan te maken -->
        <div class="newStudentDiv">
          <input class="textfield" placeholder="Voornaam" id="firstNameField" type="text"/>
          <input class="textfield" placeholder="Achternaam" id="lastNameField" type="text"/>
          <select class="textfield select" placeholder="Klas" id="classSelect">
          </select>
          <select class="textfield" placeholder="Avatar" id="avatarSelect">
            <option value="assets/monkey.png">Aap</option>
            <option value="assets/batman.png">Batman</option>
            <option value="assets/bear.png">Beer</option>
            <option value="assets/bee.png">Bij</option>
            <option value="assets/deer.png">Hert</option>
            <option value="assets/panda.png">Panda</option>
            <option value="assets/r2.png">R2-D2</option>
            <option value="assets/owl.png">Uil</option>
            <option value="assets/fox.png">Vos</option>
            <option value="assets/badger.png">Wasbeer</option>
            <option value="assets/wolf.png">Wolf</option>
            <option value="assets/yoda.png">Yoda</option>
          </select>
        </div>

        <!-- Dit kaartje is om een klas te laten zien -->
        <div class="studentCardDiv" id="allStudents">
          <!-- Hier komt de data binnen uit de database -->
        </div>

        <!-- Dit kaartje is om een overzicht te laten zien -->
        <div class="summaryDiv">
          <!-- Hier komt de data binnen uit de database -->
          <div style="margin: 10px">
            <canvas id="myChart" width="300" height="300"></canvas>
          </div>

        </div>

        <!-- Dit kaartje is om klassen in te laten zien -->
        <div class="classCardDiv">
          <!-- Hier komt de data binnen uit de database -->
        </div>

        <div class="profileCardDiv" >
          <!-- Hier komt de data binnen uit de database -->
          <p class="cardText marginBottom">U bent ingelogd als</p>
          <img class="profileCardImage" src="assets/profile.jpg"/>
          <p class="cardText marginTop" id="teacherName"></p>
          <!-- Log uit knop-->
          <a class="button" id="logoutBtn">Log uit</a>
        </div>

        <!-- Dit kaartje is om een leerling in te laten zien-->
          <div class="singleStudentDiv" id="studentData">
              <!-- Hier komt de data binnen uit de database -->
          </div>

        <!-- Pagina loader, deze fade uit als de data uit de database binnen is -->
        <img class="loader" src="assets/loader.svg" alt="Laden..">

      </div>
    </section>

    <footer>
      <div class="footerDiv">
        <a class="footerText" >Gemaakt door P*ssy Squad</a>
        <img class="footerLogo" src="assets/pussy.png" />
      </div>
    </footer>

  </div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase-firestore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="js/home.js"></script>
  <script src="js/fb.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/students.js"></script>
  <script src="js/socket.js"></script>
</body>
</html>
